{% extends 'home.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row">
{#    <a href="#"><img src="{% static 'img/home.jpg' %}" class="img-responsive"/></a>#}
        <div class="col-md-4 logo">
            <h2>Heading</h2>
            <p class="logo">Product</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4 logo">
            <h2>Heading</h2>
            <p class="logo">Product</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4 logo">
            <h2>Heading</h2>
            <p class="logo">Product</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
    </div>
{% endblock %}
